.footer {
  position: absolute;
  bottom: 3%;
  left: 7%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 86%;

  @media (max-height: 650px) {
    top: 110%;
  }

  @media (max-height: 500px) and (max-width: 1000px) {
    top: 180%;
  }
}

.footer__search {
  & a {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 16px;
    color: $red;
    text-decoration: none;

    transition: 0.3s;

    @media (max-width: 500px) {
      font-size: 12px;
    }

    &:hover {
      color: $dark-grey;
    }
  }

  & i {
    margin-top: -5px;
    padding: 0 5px;

    font-size: 20px;

    animation: place 1s infinite;
    animation-timing-function: linear;

    @media (max-width: 500px) {
      font-size: 14px;
    }
  }
}
