.logo {
  display: flex;
  align-items: center;
  width: 15%;

  @media (max-width: 1200px) {
    width: 20%;
  }
}

.logo__img {
  max-width: 60px;
  margin-left: 50%;

  @media (max-width: 500px) {
    max-width: 40px;
  }
}
