.logo {
  display: flex;
  align-items: center;
  width: 15%;

  @include breakpoint($desktop-bp) {
    width: 20%;
  }
}

.logo__img {
  max-width: 60px;
  margin-left: 50%;

  @include breakpoint($small-mobile-bp) {
    max-width: 40px;
  }
}
