.personal-block {
  width: 15%;

  @media (max-width: 1200px) {
    display: none;
  }
}

.auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.auth__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: bold;
  font-size: 16px;
  color: $dark-grey;
  text-decoration: none;

  transition: 0.3s;

  & i {
    padding: 0 5px;

    font-size: 20px;
    color: $red;
  }

  &:hover {
    color: $red;
  }
}
