.search-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;

  @media (max-width: 1200px) {
    width: 60%;
  }
}

.search {
  z-index: 1;

  display: flex;
  width: 50%;

  background-color: $white;
  border: 2px solid $red;
  border-radius: 30px;
}

.search__input {
  z-index: 10;

  width: 90%;
  height: 25px;
  padding-left: 5%;

  font-weight: bold;
  color: $dark-grey;

  border: none;
  border-radius: 30px;
  outline: none;

  @media (max-width: 768px) {
    width: 80%;
  }

  @media (max-width: 500px) {
    height: 20px;
  }
}

.search__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;

  font-size: 17px;
  color: $red;
  text-decoration: none;

  @media (max-width: 1000px) {
    font-size: 15px;
  }

  @media (max-width: 768px) {
    width: 20%;
  }

  @media (max-width: 500px) {
    font-size: 12px;
  }
}
