.sign-block {
  position: absolute;
  z-index: 200;

  display: none;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  background: rgba(33, 33, 33, 0.2);

  &_active {
    display: flex;
  }
}

.sign {
  width: 350px;
  height: 400px;

  background: $white;
  border-radius: 20px;

  @include breakpoint($small-mobile-bp) {
    width: 300px;
  }
}

.sign__close {
  position: relative;
  left: 320px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  font-size: 20px;
  color: $black;
  text-decoration: none;

  background: rgba(114, 114, 114, 0.15);
  border-radius: 0 20px 0 20px;

  transition: 0.3s;

  @include breakpoint($small-mobile-bp) {
    left: 270px;
  }

  &:hover {
    color: $white;

    background: $red;
  }
}

.sign__title {
  margin: 10px 0;
  padding: 0;

  font-size: 35px;
  text-align: center;

  user-select: none;
}

.sign__input,
.sing__btn {
  width: 70%;
  margin: 25px auto;
}

.sign__input input {
  width: 100%;
  height: auto;
  padding: 6px 0;

  font-size: 18px;
  font-family: "PT Sans", sans-serif;
  text-align: center;

  border: 2px solid rgba(114, 114, 114, 0.5);
  border-radius: 15px;
  outline: none;
  cursor: pointer;

  transition: 0.3s;

  &:hover,
  &:focus {
    color: $red;

    border: 2px solid $red;
  }
}

.sing__btn input {
  width: 100%;
  padding: 6px 0;

  font-weight: bold;
  font-size: 16px;
  color: $white;

  background: $red;
  border: 2px solid $red;
  border-radius: 20px;
  cursor: pointer;

  transition: 0.3s;

  &:hover {
    color: $red;

    background: $white;
  }
}

.sign__unreg {
  margin: 0;
  padding: 0;

  font-size: 16px;
  text-align: center;

  user-select: none;

  & input {
    color: $red;

    background: $white;

    &:hover {
      color: $white;

      background: $red;
    }
  }
}
