.social {
  overflow: hidden;
}

.social__title {
  margin: 0;
  padding: 0;

  font-weight: lighter;
  font-size: 16px;
  text-align: right;
  color: $white;

  @include breakpoint($tablet-bp) {
    font-size: 15px;
    color: $black;
  }
}

.social__icons {
  display: flex;
  align-items: center;

  list-style: none;
}

.social__link {
  font-size: 20px;
  color: $white;

  transition: 0.3s;

  @include breakpoint($small-mobile-bp) {
    padding-left: 2px;
  }

  @include breakpoint($tablet-bp) {
    font-size: 15px;
    color: $black;
  }

  &:hover {
    color: $black;

  @include breakpoint($tablet-bp) {
      color: $red;
    }
  }

  & i {
    padding-left: 20px;

  @include breakpoint($small-mobile-bp) {
      padding-left: 15px;
    }
  }
}
