<nav class="nav">
  <div class="logo">
    <img class="logo__img" src="assets/img/logo.png" alt="" />
  </div>

  <div class="nav-menu">
    <ul class="menu">
      <li class="menu__item">
        <a class="menu__link" href="#!">Мужчины</a>
      </li>

      <li class="menu__item">
        <a class="menu__link" href="#!">Женщины</a>
      </li>

      <li class="menu__item">
        <a class="menu__link" href="#!">Парни</a>
      </li>

      <li class="menu__item">
        <a class="menu__link" href="#!">Девушки</a>
      </li>
    </ul>
  </div>

  <div class="search-block">
    <div class="search">
      <input class="search__input" type="text" placeholder="Поиск" />

      <a class="search__btn" href="#!">
        <i class="fas fa-search"></i>
      </a>
    </div>
  </div>

  <div class="personal-block">
    <div class="auth">
      <div class="login">
        <a class="auth__link" id="signIn" href="#!"
          ><i class="fas fa-user-circle"></i>Войти</a
        >
      </div>

      <div class="car">
        <a class="auth__link" href="#!"
          ><i class="fas fa-shopping-cart"></i>Корзина</a
        >
      </div>
    </div>
  </div>
</nav>

<div class="nav-mobile">
  <a class="burger" href="#">
    <span></span>
  </a>

  <div class="nav-mobile__list">
    <ul class="nav-mobile__menu">
      <li class="nav-mobile__menu-item">
        <a class="nav-mobile__menu-link" id="signInMobile" href="#">Войти</a>
      </li>

      <li class="nav-mobile__menu-item">
        <a class="nav-mobile__menu-link" href="#">Мужчины</a>
      </li>

      <li class="nav-mobile__menu-item">
        <a class="nav-mobile__menu-link" href="#">Женщины</a>
      </li>

      <li class="nav-mobile__menu-item">
        <a class="nav-mobile__menu-link" href="#">Парни</a>
      </li>

      <li class="nav-mobile__menu-item">
        <a class="nav-mobile__menu-link" href="#">Девушки</a>
      </li>
    </ul>
  </div>
</div>
