<div class="map-block" id="mapBlock">
  <div class="map">
    <a class="map__close close" id="mapClose" href="#"
      ><i class="fas fa-times"></i
    ></a>
    <iframe
      class="map__location"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4988713.023646136!2d22.03442385417095!3d52.37232333196691!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ec94abf8f03a3%3A0x605053ed9e886d59!2sNew%20Balance!5e0!3m2!1sen!2sby!4v1571059257661!5m2!1sen!2sby"
      width="600"
      height="450"
      frameborder="0"
      style="border: 0"
      allowfullscreen=""
    ></iframe>
  </div><!-- /.map -->
</div><!-- /.map-block -->
