<div class="sign-block">
    <div class="sign">
      <a href="#" class="sign__close"><i class="fas fa-times"></i></a>
      <h4 class="sign__title">Вход</h4>

      <div class="sign__input">
        <input type="text" placeholder="введите логин" />
      </div>

      <div class="sign__input">
        <input type="password" placeholder="введите пароль" />
      </div>

      <div class="sign__input">
        <input type="submit" value="Войти" />
      </div>

      <p class="sign__unreg">Ещё не зарегистрированы?</p>
      <div class="sing__btn sign__unreg-btn">
        <input type="submit" value="Зарегистрироваться" />
      </div>
    </div>
</div>
